<nav>
    <div class="logo">
      <a href="#" class="link-logo">  <b>Shoppie</b></a>
    </div>
    <div>
        <input id="search" type="text" name="search"/>
        <button  id=search-btn type="submit">Go</button>
    </div>
    <ul>
    <li><a routerLink="" class="link-logo">Home</a></li>
        <li><a class="link-logo" routerLink="seller-auth">Seller</a></li>
        <li><a  class="link-logo" routerLink="login">Login</a></li>
        <li><a href="#" class="link-logo">Cart(0)</a></li>
    </ul>
</nav>